* {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

main {
    display: flex;
}

.left-content {
    background-image: url("./images/alessandro-bianchi-kdTyfnUFAc-unsplash.jpg");
    width: 33vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.intro {
    background-color: rgb(227, 225, 225);
    padding-top: 100px;
    padding-left: 25px;
    padding-bottom: 35px;
    width: 66vw;
}


p {
    padding: 15px;
    font-size: 1.2em;
    font-weight: bold;
    width: 600px;
}

@font-face {
    font-family: 'Norse-Bold';
    font-style: normal;
    font-weight: normal;
    src: url("./fonts/Norse-Bold.otf") format("opentype");
}


.opaque {
    background: rgba(195, 195, 195, 0.15);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Norse-Bold', Fallback, sans-serif;
    position: relative;
    top: 10vh;
}

#hero-image {
    width: 70px;
    height: 100%;
    opacity: 1;
}

#hero-text {
    font-family: 'Norse-Bold', Fallback, sans-serif;
    font-size: 68px;
}

fieldset {
    border: none;
    padding-left: 40px;
}

form {
    display: flex;
    width: 600px;
}

label, input {
    display: block;
    font-size: 0.8em;
    width: 250px;
    color: #E5E7EB
    border-radius: 5px;
    appearance: auto;
}

input {
    margin-bottom: 15px;

}

legend {
    padding-left: 40px;
    font-size: 1.2em;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 15px;
}

.last {
    background-color: rgb(227, 225, 225);
}